*{
    border: 1px solid crimson;
}
main{
    display: flex;
    border:2px solid black;
    height: 97vh;
    width: 98vw;
}
#hud{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 35%;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
.funcao{
    border: 1px solid black;
    width: 80%;
    height: 30%;
    margin: 1%;
}
#fmain{
    height: 40%;
}
#grid-area{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 65%;
    justify-content: center;
    align-items: center;
}
#grid{
    border: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 60%;
    justify-content: center;
    aspect-ratio: 1;
    margin: 1%;

}
.grid-square{
    display: flex;
    border: 1px solid black;
    aspect-ratio: 1;    
}
#button-area{
    display: flex;
    width: 60%;
    height: 15%;
    justify-content:space-around;
    align-items: center;
}
.button{
    border: 2px solid black;
    border-radius: 5px;
    width: 10%;
    aspect-ratio: 1/1;
}