main{
    display: flex;
    border:2px solid salmon;
    height: 97vh;
    width: 98vw;
}
#hud{
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    width:50%;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
.funcao{
    border: 1px solid black;
    width: 80%;
    height: 30%;
    margin: 1%;
}
#fmain{
    height: 40%;
}
#grid-area{
    display: flex;
    flex-direction: column;
    border: 1px solid cyan;
    width: 50%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
}
#grid{
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-content: center;
    margin: 1%;

}
.grid-square{
    display: flex;
    border: 1px solid black;
    aspect-ratio: 1;    
}
#button-area{
    border: 1px solid rebeccapurple;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 50%;
    justify-content:space-around;
    align-items: center;
}
.button{
    border: 2px solid black;
    border-radius: 5px;
    height: 10%;
    aspect-ratio: 1/1;
}
#function-area{
    border: 1px solid orange;
    height: 100%;
    width: 85%;
}