main{
    display: flex;
    border:2px solid salmon;
    height: 97vh;
    width: 98vw;

}
#hud{
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    height: 100%;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
}
#function-area{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 28vw;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
}
.funcao{
    display: grid;
    border: 1px solid black;
    box-shadow: 0 0 6px rgb(89, 89, 89);
    width: 25vw;
    place-items: center;
    box-sizing:content-box;
    margin: 1% 0 1% 0;
}
#fmain{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#f1{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
#f2{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.comando-main, .comando-f1, .comando-f2{
    width: 6vw;
    aspect-ratio: 1;
    background-size:contain;
    border-radius: 25%;
    margin: 1%;
}







#grid-area{
    display: flex;
    flex-direction: column;
    border: 1px solid cyan;
    width: 60%;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    padding: 2%;
    overflow: scroll;
}
#grid{
    border: 1px solid black;
    box-shadow: 0 0 6px rgb(89, 89, 89);
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(8, 12.5%);
    justify-content: center;
    background-image: url('./assets/placeholder_background.png');
    aspect-ratio: 10/8;
    width: 90%;
    height: auto;


}
.grid-square{
    display: flex;
    border: 1px solid rgb(72, 72, 72, 0.5);
    aspect-ratio: 1;
    min-width: 0;
    min-height: 0;
}



/* BOTÕES */
#button-area{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    justify-content: space-around;
    align-items: center;
}
.button{
    display: flex;
    border: 2px solid black;
    border-radius: 30%;
    height: 5vw;
    aspect-ratio: 1/1;
    background-size: cover;
    box-shadow: 0 0 6px rgb(89, 89, 89);
}
#andar{
    background-image: url("./assets/botoes/frente.jpeg");
}
#direita{
    background-image: url("./assets/botoes/direita.jpeg");
}
#esquerda{
    background-image: url("./assets/botoes/esquerda.jpeg");
}
#go{
    background-image: url("./assets/botoes/go.jpeg");
}
#boneco{
    background-color: blue;
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/placeholder/cima.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#acoes-main{
    display:flex;
    gap: 5px;
}
.ativo1{
    background-color: darkblue;
}
.ativo2{
    background-color: darkred;
}

